/* Box Dimensions */
/* div{
    height: 300px;
    width: 300px; */
   /* background-color: #bbbbaa;
    height: 200px;
    width: 200px;
    background-color: wheat;
} */

/* p{
    width: 80%;
} */

/* LIMITING WIDTH */
/* td.description{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
} */

/* Limiting height */